<h2 mat-dialog-title>Delete Product</h2>
<mat-dialog-content>
  <p>You will permanently delete this product.</p>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close>No</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Yes</button>
</mat-dialog-actions>