table {
  width: 100%;
}
.management-componet-container {
  margin-top: 30px;
  display: flex;
  width: 70vw;
  .mat-elevation-z8 {
    width: 70%;
    margin-right: 3%;
    .set-position-paginator {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
    }
    .table-td-action-row {
      padding-right: 0px;
      width: 100px;
      text-align: center;
      .set-icon-action {
        border: none;
        padding: 0;
        background-color: #fff;
      }
    }
  }
  .div-add-product {
    margin-top: 20px;
    width: 27%;
    .example-form {
      width: 300px;
      .example-form-full-width {
        width: 100%;
        margin-top: 20px;
      }
      .div-type-cate {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        .w-45 {
          width: 45%;
        }
      }
      .btn-add-product {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
      .div-input-image {
        margin-top: 50px;
        margin-bottom: 30px;
      }
    }
  }
  .text-align-center {
    text-align: center;
  }
}