<a routerLink="/product-management">Quản lý sản phẩm</a> >> 
<a routerLink="/product-management/list-product-table">Danh sách sản phẩm</a>

<div class="management-componet-container">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{i+(this.DataNumberPage.pageIndex * this.DataNumberPage.pageSize)+1}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="product_code">
        <th mat-header-cell *matHeaderCellDef> Product Code </th>
        <td mat-cell *matCellDef="let element"> {{element.product_code}} </td>
      </ng-container>
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th class="text-align-center" mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell class="table-td-action-row" *matCellDef="let element">
          <button [routerLink]="['/product-management/update-product',element._id]" mat-icon-button color="primary">
            <mat-icon>create</mat-icon>
          </button>
          <button (click)="openDialog(element._id)" mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="set-position-paginator">
      <mat-paginator
        [length]="totalProduct"
        [pageSize]="10"
        (page)="getPage($event)"
        [pageIndex]="DataNumberPage.pageIndex"
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
  <div class="div-add-product">
    <strong>Thêm sản phẩm</strong>
    <form #formDirective="ngForm" [formGroup]="addProductForm" (ngSubmit)="submit(formDirective)" class="example-form">
      <mat-form-field class="example-form-full-width">
        <mat-label>Name</mat-label>
        <input type="text" matInput formControlName="name" placeholder="Vu Thanh Tuan">
        <mat-error *ngIf="f.name.hasError('minlength') && !f.name.hasError('required')">
          Please enter a valid name.
        </mat-error>
        <mat-error *ngIf="f.name.hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div class="div-type-cate">
        <mat-form-field class="w-45" appearance="outline">
          <mat-label>Type</mat-label>
          <mat-select formControlName="type" name="type">
            <mat-option (click)="typeSelected()" *ngFor="let type of types" [value]="type.value">
              {{type.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-45" appearance="outline">
          <mat-label>Category</mat-label>
          <mat-select formControlName="category" name="category">
            <mat-option *ngFor="let category of categories" [value]="category">
              {{category}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-form-field class="example-form-full-width">
        <mat-label>Price</mat-label>
        <input type="number" matInput formControlName="price" placeholder="80000000">
        <mat-error *ngIf="f.price.hasError('price') && !f.price.hasError('required')">
          Please enter a valid price.
        </mat-error>
        <mat-error *ngIf="f.price.hasError('required')">
          Price is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-form-full-width">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          formControlName="description">
        </textarea>
        <mat-error *ngIf="f.description.hasError('description') && !f.description.hasError('required')">
          Please enter a valid description.
        </mat-error>
        <mat-error *ngIf="f.description.hasError('required')">
          Description is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div class="div-input-image">
        <mat-label [style.color]="chkImg ? 'red' : null" >Image Upload</mat-label>
        <div *ngIf="addProductForm"> 
          <app-import-image [canDelete]="false" [chkImg]="this.chkImg" [(file)]="file" [(imageSrc)]="imageSrc" [control]="addProductForm.get('file')" (changeFile)="changeFile($event)" (changeChkImg)="changeChkImg($event)"></app-import-image>
        </div>
      <mat-error *ngIf="chkImg">
        File image is <strong>required</strong>.
      </mat-error>
      </div>
      <div class="btn-add-product">
        <button mat-raised-button color="primary" type="submit">ADD</button>
      </div>
    </form>
  </div>
</div>