<a routerLink="/product-management">Quản lý sản phẩm</a> >> 
<a [routerLink]="['/product-management/update-product',id]">Cập nhật sản phẩm</a>
<form [formGroup]="updateProductForm" (ngSubmit)="submit()" class="example-form">
  <div class="left-form">
    <h3>
        <strong>Thông tin sản phẩm</strong>
    </h3>
    <mat-form-field class="example-form-full-width">
      <mat-label>Name</mat-label>
      <input type="text" matInput formControlName="name" placeholder="Vu Thanh Tuan">
      <mat-error *ngIf="f.name.hasError('minlength') && !f.name.hasError('required')">
        Please enter a valid name.
      </mat-error>
      <mat-error *ngIf="f.name.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <div class="div-type-cate">
      <mat-form-field class="w-45" appearance="outline">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type" name="type">
          <mat-option (click)="typeSelected()" *ngFor="let type of types" [value]="type.value">
            {{type.value}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="f.type.hasError('required')">
            Type must be <strong>selected</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-45" appearance="outline">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category" name="category">
          <mat-option *ngFor="let category of categories" [value]="category">
            {{category}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="f.category.hasError('required')">
            Category must be <strong>selected</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <mat-form-field class="example-form-full-width">
      <mat-label>Price</mat-label>
      <input type="number" matInput formControlName="price" placeholder="Vu Thanh Tuan">
      <mat-error *ngIf="f.price.hasError('price') && !f.price.hasError('required')">
        Please enter a valid price.
      </mat-error>
      <mat-error *ngIf="f.price.hasError('required')">
        Price is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-form-full-width">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        formControlName="description">
      </textarea>
      <mat-error *ngIf="f.description.hasError('description') && !f.description.hasError('required')">
        Please enter a valid description.
      </mat-error>
      <mat-error *ngIf="f.description.hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <div><mat-label>Image Thumbail:</mat-label></div>
    <div *ngIf="updateProductForm"> 
      <app-import-image [canDelete]="false" [(file)]="files[0]" [imageSrc]="imgSrc[0]" [control]="updateProductForm.get('file0')" (changeFile)="changeFile($event, 0)"></app-import-image>
    </div>
    <div class="btn-update-product">
      <button type="submit" mat-raised-button color="primary" type="submit">UPDATE</button>
    </div>
  </div>
  <div class="right-form">
    <h3>
      <strong>Ảnh slide sản phẩm</strong>
    </h3>
    <div class="add-image-content">
      <div class="row-input-image">
        <div class="one-input-image">
          <mat-label>Image 1</mat-label>
          <div *ngIf="updateProductForm"> 
            <app-import-image [canDelete]="true" [(file)]="files[1]" [(imageSrc)]="imgSrc[1]" [control]="updateProductForm.get('file1')" (changeFile)="changeFile($event, 1)"></app-import-image>
          </div>
        </div>
        <div class="one-input-image">
          <mat-label>Image 2</mat-label>
          <div *ngIf="updateProductForm"> 
            <app-import-image [canDelete]="true" [(file)]="files[2]" [(imageSrc)]="imgSrc[2]" [control]="updateProductForm.get('file2')" (changeFile)="changeFile($event, 2)"></app-import-image>
          </div>
        </div>
      </div>
      <div class="row-input-image">
        <div class="one-input-image">
          <mat-label>Image 3</mat-label>
          <div *ngIf="updateProductForm"> 
            <app-import-image [canDelete]="true" [(file)]="files[3]" [(imageSrc)]="imgSrc[3]" [control]="updateProductForm.get('file3')" (changeFile)="changeFile($event, 3)"></app-import-image>
          </div>
        </div>
        <div class="one-input-image">
          <mat-label>Image 4</mat-label>
          <div *ngIf="updateProductForm"> 
            <app-import-image [canDelete]="true" [(file)]="files[4]" [(imageSrc)]="imgSrc[4]" [control]="updateProductForm.get('file4')" (changeFile)="changeFile($event, 4)"></app-import-image>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>