.example-form {
    min-width: 150px;
    width: 100%;
    display: flex;
    .left-form {
      width: 35%;
      .example-form-full-width {
        width: 100%;
        margin-top: 20px;
      }
      .div-type-cate {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        .w-45 {
          width: 45%;
        }
      }
      .btn-update-product {
        display: flex;
        height: 10vh;
        flex-direction: column;
        justify-content: flex-end;
      }
      .div-contain-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        margin-top: 30px;
        width: 300px;
        height: 300px;
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14);
        &:hover {
          .overlay {
            background: rgba(0, 0, 0, .7);
          }
          .btn-change-file {
            opacity: 1;
          }
          .div-btn-remove {
            .btn-remove {
              opacity: .7;
            }
          }
        }
        .overlay {
          position: absolute;
          width: 300px;
          height: 300px;
          background: rgba(0, 0, 0, 0);
          transition: background 0.5s ease;
        }
        .div-button-image{
          display: flex;
          justify-content: center;
          .btn-input-image {
            width: auto;
            height: auto;
            .size-icon {
              width: 100px;
              height: 100px;
            }
          }
        }
        .import-image {
          max-width: 300px;
          max-height: 300px;
          object-fit: contain;
          padding: 0px 10px 0px 10px;
        }
        .btn-change-file {
          position: absolute;
          background: none;
          border: 2px solid white;
          opacity: 0;
          left: 95px;
          transition: opacity .35s ease;
        }
        .div-btn-remove {
          position: absolute;
          top: 10px;
          right: 10px;
          .btn-remove {
            width: auto;
            height: auto;
            opacity: 0;
            transition: opacity .35s ease;
            .img-remove {
              width: 40px;
            }
          }
        }
      }
    }
    .right-form {
      width: 620px;
      margin-left: 40px;
      .add-image-content {
        .row-input-image {
          display: flex;
          justify-content: space-between;
          margin-top: 50px;
          .one-input-image {
          }
        }
      }
    }
  }