<div class="div-contain-image">
  <div *ngIf="imageSrc" class="overlay"></div>
  <div *ngIf="!imageSrc" class="div-button-image">
    <button type="button" class="btn-input-image" (click)="fileInput.click()" mat-icon-button>
      <img class="size-icon" src="assets/images/photo.svg" >
    </button>
  </div>
  <input [formControl]="control" #fileInput type="file" (change)="onFileChange($event)" style="display: none;" />
  <img class="import-image" [src]="imageSrc" *ngIf="imageSrc">
  <button class="btn-change-file" type="button" (click)="fileInput.click()" *ngIf="imageSrc" mat-raised-button color="primary">Change File</button>
  <div *ngIf="imageSrc" class="div-btn-action">
    <button type="button" (click)="viewImg()" class="btn-action" mat-icon-button>
      <img class="img-action" src="assets/images/eye.svg" >
    </button>
    <button *ngIf="canDelete" type="button" (click)="removeImg()" class="btn-action" mat-icon-button>
      <img class="img-action" src="assets/images/remove.svg" >
    </button>
  </div>
  <div [style.display]="showImg ? 'block': null" class="modal">
    <span (click)="offViewImg()" class="close">&times;</span>
    <img [src]="imageSrc" class="modal-content">
  </div>
</div>