.div-contain-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-top: 30px;
  width: 300px;
  height: 320px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14);
  &:hover {
    .overlay {
      background: rgba(0, 0, 0, .7);
    }
    .btn-change-file {
      opacity: 1;
    }
    .div-btn-action {
      .btn-action {
        opacity: .7;
      }
    }
  }
  .overlay {
    position: absolute;
    width: 300px;
    height: 320px;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
  }
  .div-button-image{
    display: flex;
    justify-content: center;
    .btn-input-image {
      width: auto;
      height: auto;
      .size-icon {
        width: 100px;
        height: 100px;
      }
    }
  }
  .import-image {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
    padding: 10px 10px 10px 10px;
  }
  .btn-change-file {
    position: absolute;
    background: none;
    border: 2px solid white;
    opacity: 0;
    left: 95px;
    transition: opacity .35s ease;
  }
  .div-btn-action {
    position: absolute;
    top: 10px;
    right: 2px;
    .btn-action {
      width: auto;
      height: auto;
      opacity: 0;
      transition: opacity .35s ease;
      margin-right: 5px;
      .img-action {
        width: 40px;
      }
    }
  }
  .modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    .modal-content {
      margin: auto;
      display: block;
      height: 70vh;
      animation-name: zoom;
      animation-duration: 1s;
      @-webkit-keyframes zoom {
        from {-webkit-transform:scale(0)} 
        to {-webkit-transform:scale(1)}
      }
      
      @keyframes zoom {
        from {transform:scale(0)} 
        to {transform:scale(1)}
      }
    }
    .close {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
      &:hover {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
      }
      &:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}