.container {
  display: flex;
  margin-left: 6%;
  .mat-drawer-container {
    width: 100%;
    .menu-concept {
      padding-top: 45px;
      width: 200px;
      z-index: 1;
      .category-div {
        display: flex;
        position: fixed;
        width: 198px;
        height: 85vh;
        align-items: center;
        flex-direction: column;
        border: 1px solid;
        .menu-cate {
          width: 85%;
          margin-top: 20px;
        }
      }
    }
    .main-div-content {
      padding-left: 50px;
      margin-left: 200px;
      padding-top: 45px;
      background-color:#fff;
    }
    .active {
      background-color: #3f51b5;
      color: #fff;
    }
  }
}