<div class="container">
  <mat-drawer-container>
    <mat-drawer mode="side" opened class="menu-concept">
      <div class="category-div">
        <button routerLink="/list-product" mat-raised-button routerLinkActive="active" mat-button class="menu-cate">
          Sản Phẩm
        </button>
        <button routerLink="/product-management" mat-raised-button routerLinkActive="active" mat-button class="menu-cate">
          Quản lý sản phẩm
        </button>
      </div>
    </mat-drawer>
    <mat-drawer-content class="main-div-content">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>