<a routerLink="/list-product">Sản Phẩm</a> >> 
<a routerLink="/list-product/grid">Danh sách sản phẩm</a>
<div class="product-container">
  <div class="title-container">
    <h2>
      <strong>Danh sách sản phẩm</strong>
    </h2>
  </div>
  <div class="filter-search-field">
    <mat-form-field appearance="outline" class="w-22">
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="selectedType" name="type">
        <mat-option (click)="typeSelected()" *ngFor="let type of types" [value]="type.value">
          {{type.id}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-28">
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]="selectedCate" name="category">
        <mat-option (click)="cateSelected()" *ngFor="let category of categories" [value]="category">
          {{category || 'Select All'}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-40" floatLabel="never">
      <div class="div-search">
        <div class="w-100"></div>
        <input (keyup)="onKey($event)" matInput type="text" [(ngModel)]="searchValue" class="input-search">
        <button (click)="getSearch()" class="btn-search"><mat-icon>search</mat-icon></button>
      </div>
    </mat-form-field>
  </div>
</div>
<div class="div-products-container">
  <mat-card [routerLink]="['/list-product/detail-product',product._id]" class="mat-card-custom" *ngFor="let product of products">
    <div>
      <mat-card-header>
        
      </mat-card-header>
      <div class="img-card">
        <img mat-card-image [src]="product.img_url[0].url">
      </div>
      <div class="mat-card-header-add">
        <mat-card-content>
          <span>{{product.name}}</span>
        </mat-card-content>
      </div>
    </div>
    <mat-card-actions>
      <mat-card-subtitle class="price">Price: {{product.price | currency:'VND':' ' }}  VND</mat-card-subtitle>
    </mat-card-actions>
  </mat-card>
</div>
<div *ngIf="!this.products?.length" class="div-no-product">
  <div class="notify-not-found">
    Rất tiếc, không tìm thấy sản phẩm phù hợp với lựa chọn của bạn
  </div>
</div>
<div class="set-position-paginator">
  <mat-paginator
    *ngIf="this.products?.length"
    [length]="totalProduct"
    (page)="getPage($event)"
    [pageIndex]="DataNumberPage.pageIndex"
    [pageSize]="8"
    [pageSizeOptions]="[4, 8, 16, 24]">
  </mat-paginator>
</div>