.product-container {
  display: flex;
  .title-container {
    width: 35%;
    margin-top: 18px;
  }
  .filter-search-field {
    width: 55%;
    display: flex;
    justify-content: space-between;
    .btn-search {
      padding: 0px 0px;
      background-color: #fff;
      border: none;
      float: right;
      transform: translateY(-8px);
    }
    .w-22 {
      width: 22%;
    }
    .w-28 {
      width: 28%;
    }
    .w-40 {
      width: 40%;
      .div-search {
        display: flex;
        height: 15px;
        .w-100 {
          width: 100%;
        }
        .input-search {
          position: absolute;
          height: 25px;
          top: 4px;
          width: 90%;
        }
      }
    }
  }
}
.div-products-container {
  display: flex;
  flex-wrap: wrap;
  width: 75vw;
  position: relative;
  .mat-card-custom {
    margin-right: 1.5%;
    margin-bottom: 80px;
    width: 218px;
    &:hover {
      background-color: rgba(25,118,210,.1);
      box-shadow: 0 8px 8px rgba(10,16,20,.24), 0 0 8px rgba(10,16,20,.12);
      // .mat-card-header-add {
      //   color: #1976d2;
      // }
    }
    cursor: pointer;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14);
    .mat-card-header-add {
      justify-content: center;
      display: flex;
    }
    .img-card {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      .mat-card-image {
        width: auto;
        height: 180px;
        max-width: 200px;
        object-fit: contain;
      }
    }
    .price {
      text-align: center;
      font-weight: bold;
      color: rgb(36, 36, 36);
      font-size: large;
    }
  }
}
.div-no-product {
  display: flex;
  justify-content: center;
  margin-top: 20%;
  .notify-not-found {
    display: flex;
    align-items: center;
    .img-warning {
      width: 40px;
    }
  }
}
.set-position-paginator {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}