/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.arrow-container {
  height: 57px !important;
  top: 50% !important;
  opacity: 0;
  border-radius: 4px;
  box-shadow: 0 7px 10px 0 rgba(72,139,216,0.2);
  &:hover {
    opacity: 1;
  }
  .arrow {
    width: 20px !important;
    height: 20px !important;
  }
  .prev {
    left: 10px !important;
  }
  .next {
    right: 10px !important;
  }
}