<a routerLink="/list-product">Sản Phẩm</a> >> 
<a [routerLink]="['/list-product/detail-product',id]">Chi tiết sản phẩm</a>
<div class="detail-container">
  <div *ngIf="slides.length" class="div-content-slide">
    <h3><strong>Ảnh slide sản phẩm</strong></h3>
    <div class="h-90">
      <slideshow
        *ngIf="slides.length"
        [imageUrls]="slides"
        [autoPlay]="true"
        backgroundSize="contain"
        [showDots]="true"
        dotColor="#F00"
      >
    </slideshow>
    </div>
  </div>
  <div class="product-info">
    <div class="product-top">
      <mat-card-title class="title-product">{{product?.name}}</mat-card-title>
      <div class="font-size-medium product-code">Mã sản phẩm: <span class="variant-sku">{{product?.product_code}}</span></div>
    </div>
    <div class="product-price">{{price}} VND</div>
    <p class="font-size-medium"><strong>Loại sản phẩm:</strong> {{product?.type}}</p>
    <p class="font-size-medium"><strong>Danh mục sản phẩm:</strong> {{product?.category}}</p>
    <p class="font-size-medium mt-35px"><strong>Mô tả:</strong></p>
    <p class="font-size-medium">{{product?.description}}</p>
    <!-- <img [src]="product?.img_url[0].url"> -->
  </div>
</div>