.detail-container {
  display: flex;
  .product-info {
      width: 30%;
      .product-top {
        border-bottom: 1px solid #e2e2e2;
        .title-product {
            display: block;
            margin-top: 65px;
            margin-bottom: 30px;
        }
        .variant-sku {
          font-weight: 500;
          font-style: italic;
        }
        .product-code {
          margin-bottom: 20px;
        }
      }
      .font-size-medium {
          font-size: medium;
      }
      .product-price {
        color: red;
        font: 600 50px 'Roboto',Helvetica,Arial,sans-serif;
        margin-top: 10px;
        margin-bottom: 20px ;
      }
      .mt-35px {
        margin-top: 35px;
      }
  }
  .div-content-slide {
    width: 50%;
    margin-top: 61px;
    margin-right: 61px;
    .h-90 {
      height: 90%;
    }
  }
}